{"swagger":"2.0","info":{"version":"1.0.0","title":"GSA Fine Arts API Documentation","contact":{"name":"api-contact@gsa.gov"}},"host":"api.gsa.gov","basePath":"/real_estate/emuseum/v1","schemes":["https"],"paths":{"/collections/{param}":{"get":{"summary":"Load collections","description":"Load all collections via the \"all\" argument or load a specific collection by the collection identifier","operationId":"getCollections","produces":["application/json","text/javascript"],"parameters":[{"name":"param","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/id/{module}/{id}":{"get":{"summary":"Load single record","description":"Load a specific detail record by module and id value","operationId":"getRecordById","produces":["application/json","text/javascript"],"parameters":[{"name":"module","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"default":{"description":"successful operation"}}}},"/listsearchfields":{"get":{"summary":"List available search fields","description":"Returns a list of search fields that are available per module.","operationId":"getSearchFields","produces":["application/json","text/javascript"],"parameters":[],"responses":{"default":{"description":"successful operation"}}}},"/search/{module}":{"get":{"summary":"Perform a search","description":"Search specific field or general keyword search for a given module","operationId":"doSearch","produces":["application/json","text/javascript"],"parameters":[{"name":"module","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}}}}
